.u-section-1 {
  min-height: 675px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  margin: 36px 363px 0 364px;
}

.u-section-1 .u-image-1 {
  width: calc(((100% - 1140px) / 2) + 444px);
  height: 560px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 601px;
  min-height: 473px;
  margin: -506px auto 54px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 0 12px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 573px;
    margin-left: calc(((100% - 1140px) / 2) + 284px);
    margin-right: calc(((100% - 1140px) / 2) + 284px);
  }

  .u-section-1 .u-image-1 {
    width: 524px;
    margin-top: 183px;
    margin-right: calc(((100% - 1140px) / 2) + 20px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -463px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 130px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 220px);
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -443px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 363px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -308px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}