.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-shape-1 {
  width: 740px;
  height: 701px;
  margin: 43px 20px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 575px;
  min-height: 625px;
  margin: -713px 57px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 608px;
  height: 569px;
  margin: -547px auto 60px -38px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 371px;
    height: 329px;
    margin-top: -599px;
    margin-left: -17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -744px;
    margin-right: 43px;
  }

  .u-section-1 .u-image-1 {
    width: 204px;
    height: 204px;
    margin-top: -582px;
    margin-left: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-shape-1 {
    width: 640px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-group-1 {
    width: 523px;
    min-height: 417px;
    margin-top: -534px;
    margin-right: -8px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1190px;
    margin-left: -17px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-1 .u-shape-1 {
    width: 440px;
    height: 581px;
  }

  .u-section-1 .u-group-1 {
    min-height: 386px;
    width: 340px;
    margin-top: -436px;
    margin-right: -43px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-left: 31px;
  }
}