.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1280px;
}

.u-section-1 .u-shape-1 {
  width: 992px;
  height: 841px;
  margin: 97px -39px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 608px;
  height: 569px;
  margin: -830px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 629px;
  min-height: 472px;
  margin: -385px -11px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 67px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-1 .u-shape-1 {
    width: 871px;
    height: 706px;
    margin-top: 171px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 442px;
    height: 442px;
    margin-top: -770px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -192px;
    margin-bottom: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-1 .u-shape-1 {
    height: 660px;
    margin-top: 203px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 406px;
    height: 409px;
    margin-top: -803px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -126px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-1 .u-shape-1 {
    height: 623px;
    width: 623px;
    margin-top: 230px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-1 .u-image-1 {
    height: 410px;
    margin-top: -793px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -127px;
    margin-right: 0;
    margin-bottom: 52px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-1 .u-shape-1 {
    height: 449px;
    width: 440px;
    margin-top: 274px;
    margin-right: -50px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 343px;
    margin-top: -663px;
  }

  .u-section-1 .u-group-1 {
    width: 324px;
    min-height: 401px;
    margin-top: -60px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}