.u-section-1 .u-sheet-1 {
  min-height: 864px;
}

.u-section-1 .u-shape-1 {
  width: 740px;
  height: 701px;
  margin: 43px 21px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 527px;
  min-height: 626px;
  margin: -468px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 22px;
}

.u-section-1 .u-text-1 {
  margin: 2px 60px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 29px 60px 0 -81px;
}

.u-section-1 .u-image-1 {
  width: 608px;
  height: 569px;
  margin: -793px auto 0 -15px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -601px 269px 0 682px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -26px 198px 0 758px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -33px -477px 60px 723px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 44px;
    margin-right: 22px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -469px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 131px;
    margin-left: -152px;
  }

  .u-section-1 .u-image-1 {
    width: 441px;
    height: 383px;
    margin-top: -873px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -315px;
    margin-right: 260px;
    margin-left: 491px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -22px;
    margin-right: 215px;
    margin-left: 541px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -28px;
    margin-right: 81px;
    margin-left: 512px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 477px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 58px;
    margin-right: 167px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-right: 70px;
    margin-left: -91px;
  }

  .u-section-1 .u-image-1 {
    width: 277px;
    height: 300px;
    margin-top: -674px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -268px;
    margin-right: 224px;
    margin-left: 307px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -16px;
    margin-right: 176px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -24px;
    margin-right: 39px;
    margin-left: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 463px;
    min-height: 508px;
    margin-top: -468px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 25px;
    margin-right: 117px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
    margin-right: 19px;
    margin-left: -18px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -681px;
    margin-right: 151px;
    margin-left: 200px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -22px;
    margin-right: 104px;
    margin-left: 252px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -32px;
    margin-right: 37px;
    margin-left: 209px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 390px;
    margin-top: -467px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -65px;
    margin-right: -148px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 5px;
    margin-right: 11px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: -574px;
    margin-right: 0;
    margin-left: 151px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    width: 97px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    margin-top: -9px;
    margin-right: 63px;
    margin-left: 136px;
  }
}