.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-shape-1 {
  width: 740px;
  height: 701px;
  margin: 32px auto 0 163px;
}

.u-section-1 .u-image-1 {
  width: 418px;
  height: 265px;
  margin: -212px 177px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 641px;
  min-height: 625px;
  height: auto;
  margin: -716px auto 60px 217px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 64px auto 0 216px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 138px 0 auto;
}

.u-section-1 .u-text-3 {
  width: 314px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 24px 60px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: -220px;
    margin-right: 37px;
  }

  .u-section-1 .u-group-1 {
    min-height: 635px;
    margin-top: -777px;
    margin-right: 87px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 116px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 153px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 37px;
    margin-right: 16px;
    margin-left: 129px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-right: 37px;
    margin-left: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -778px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 36px;
    margin-right: auto;
    margin-left: 7px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -226px;
    margin-right: 9px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -767px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 123px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1px;
    margin-right: 130px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
    margin-right: 9px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 18px;
    margin-right: 0;
    margin-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 216px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 569px;
    margin-top: -701px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 18px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 77px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 0;
    margin-right: 65px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 48px;
    margin-right: 0;
    margin-left: 67px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 16px;
    margin-left: 7px;
  }
}